.wrapper
  .side
    = render "chat_side_groups"
  .main
    .chat__group
      .chat__group__info
        %p.name= @group.name
        %p.member
          MEMBERS:
          - @group.users.each do |user|
            = user.name
      .chat__group__edit
        .edit-box
          = link_to edit_group_path(@group) do
            edit
    .chat__form
      = render "chat_main_space"
      .chat__box
        = form_for [@group, @message] do |f|
          = f.text_field :body, id:"upload-text", placeholder: " type message"
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
            = f.file_field :image, id: "upload-icon"
          = f.submit id:"button",value:"Send"

